body{
}

svg{
	width: 510px;
	display: flex;
	margin: auto;
}

footer{
	text-align: center;
}

a{
  color:black;
  text-decoration-line:none;
}

a:hover{
  color:#fc9992;
}

#tulip:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip2:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip3:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip4:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip5:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip6:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}

#tulip7:hover{
	transform: translate(0, -50px);
	cursor: pointer;
}