*{
	background-color: #fcf7e8;
}

footer{
    text-align: center;
    position: ;
}

a{
  color:black;
  text-decoration-line:none;
}

a:hover{
  color:#fc9992;
}

p{
	line-height: 1.4;
    color: #3d3c3a;

}

h1{
font-family: "ivypresto-display", serif;
font-weight: 100;
font-style: normal;
}

h6{
    font-family: serif;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
}

.section{
    height: 100vh;
    scroll-snap-align: start;
}

#space{
	width: 40%;
	margin: auto;
	padding-top: 21%;
	display: grid;
	place-items: center;
}

#flower{
    float: right;
    margin-right: 5%;
    margin-top: 80px;
}

#miracle{
	float: right;
	margin-right: 5%;
    margin-top: 80px;
}

#honey{
    float: right;
    margin-right: 5%;
    margin-top: 70px;
}

#sigh{
    float: right;
    margin-right: 5%;
    margin-top: 70px;

}

.avenue{
    display: inline-grid;
}


#child2{
    float: right;
    margin-right: 5%;
    margin-top: 137.5px;
}

#child1{
    float: right;
    margin-right: 5%;
    margin-top: 50px;
}

#colde{
    width: 350px;
    margin-left: 10%;
    margin-top: 10vh;
    cursor: pointer;
}

#corner{
   width: 500px;
   margin-left: 10%;
   margin-top: 18vh;
   cursor: pointer;
}

#lamp{
   width: 500px;
   margin-left: 10%;
   margin-top: 23vh;
   cursor: pointer;
}

#ichiko{
   width: 500px;
   margin-left: 10%;
   margin-top: 20vh;
   cursor: pointer;
}

#rocco{
   width: 500px;
   margin-left: 10%;
   margin-top: 20vh;
   cursor: pointer;
}

 /* Media query for mobile screens */

@media (max-width: 767px) {

*{
    background-color: #fcf7e8;
}

 body {
  }



#flower{
    text-align: center;
    margin-right: 24vh;
}

#miracle{
    text-align: center;
    margin-right: 19vh;
}

#honey{
    text-align: center;
    margin-right: 19vh;
}

#sigh{
    text-align: center;
    margin: 15vh;
}

#colde{
    width: 300px;
    margin-left: 23%;
}

#ichiko{
    display: block;
    margin: auto;
   width: 300px;
   margin-left: 20%;
}

#corner{
    display: block;
    margin: auto;
   width: 300px;
   margin-left: 20%;
   padding-top: 70px;
}

#lamp{
    display: block;
    width: 300px;
    margin-left: 20%;
    padding-top: 70px;
}

footer{
    bottom: 0;
    top: auto;
}






